* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --main-c:#16133D;
    --main-green:#3DB370;
    --green-svg:#52C29D;
    --border-c:#E5EAF4;
    --opacity-c:#E5EAF4;
    --text-sz:16px;
    --title-sz:40px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 90%;
}

.mb_100 {
    margin-bottom: 100px;
}

.mb_12 {
    margin-bottom: 12px;
}

.mb_32 {
    margin-bottom: 32px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_27 {
    margin-bottom: 27px;
}

.mb_36 {
    margin-bottom: 36px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_30 {
    margin-bottom: 30px;
}

body {
    font-family: 'Roboto';
}

h1 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: var(--title-sz);
    color: var(--main-c);
    letter-spacing: 0.2px;
}

.main-block_text{
    line-height: 21px;
    font-size: var(--text-sz);
    color: var(--opacity-c);
    font-weight: 400;
}

.text {
    line-height: 28px;
    font-size: var(--text-sz);
    color: var(--main-c);
    font-weight: 400;
}

h2 {
    line-height: 21.28px;
    font-size: 24px;
    font-weight: 400;
    color: var(--main-c);
}

.header {
    display: block;
    height: 80px;
    padding-top: 22.5px;
}

.line {
    display: block;
    border-bottom: 1px solid #EFEEF3;
    padding-bottom: 16.5px;

}

.main-block_cards {
    display: flex;
    gap: 30px;
}

.block-cards_item {
    display: block;
    width: 370px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    padding: 40.5px 55px 40.5px 40px;
    transition: all 0.2s;
}

.block-cards_item:hover {
    border: 1px solid #52C29D;
    transform: scale(1.03); 
    box-shadow: 5px 5px 5px 5px #EFEEF3;
}



.card-item__border {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    display: inline-flex;
}

    
#svg {
    width: 39px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 12px;
}

.svg-telephone_icon {
    position: relative;
    width: 39px;
    height: 36px;
    top: 14px;
    left: 18px;
}

.path1,.path2,.path5 {
    fill: #D1E7FF;
    
}
.path3 {
    fill:#E8F3FF ;
    
}
.path4,.path6,.path7 {
    fill: #B9DCFF;
    
}
.path8 {
    fill: #007FFC;   
}

path {
    transition: all 0.2s;    
}



.block-cards_item:hover svg .path8 {
    fill: #52C29D;
}


.block-cards_item:hover svg .path1,
.block-cards_item:hover svg .path2,
.block-cards_item:hover svg .path5,
.block-cards_item:hover svg .path4,
.block-cards_item:hover svg .path6,
.block-cards_item:hover svg .path7 {
    fill: #CAEFF2;
}

.card-item__button--green {
    font-weight: 600;
    line-height: 18.75px;
    font-size: var(--text-sz);
    color: var(--main-green);
    cursor: pointer;
    border: none;
    background: none;
    font-family: "Roboto";
}

.main {
    padding-bottom: 98px;
}

.footer {
    background-color: var(--main-c);
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-block__icons {
    display: flex;
    gap: 10px;
}

.block-icon__grey {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background: #EFEEF3;
    border-radius: 5px;
    transition: all 0.3s;
}

.block-icon__grey:hover svg path {
    fill: #3DB370;
}
.block-icon__grey:hover {
    box-shadow: 0px 0px 5px 3px var(--main-green);

}

.block-icon__path--black {
    fill: #0D0D0D;
}


