* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --main-c:#16133D;
    --main-green:#3DB370;
    --green-svg:#52C29D;
    --border-c:#E5EAF4;
    --opacity-c:#E5EAF4;
    --text-sz:16px;
    --title-sz:40px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 90%;
}

.mb_100 {
    margin-bottom: 100px;
}

.mb_12 {
    margin-bottom: 12px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_30 {
    margin-bottom: 30px;
}

body {
    font-family: 'Roboto';
}

h1 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: var(--title-sz);
    color: var(--main-c);
    letter-spacing: 0.2px;
}

.main-block_text{
    line-height: 21px;
    font-size: var(--text-sz);
    color: var(--opacity-c);
    font-weight: 400;
}

.text {
    line-height: 28px;
    font-size: var(--text-sz);
    color: var(--main-c);
    font-weight: 400;
}

h2 {
    line-height: 21.28px;
    font-size: 24px;
    font-weight: 400;
    color: var(--main-c);
}

.header {
    display: block;
    height: 80px;
    padding-top: 22.5px;
}

.line {
    display: block;
    border-bottom: 1px solid #EFEEF3;
    padding-bottom: 16.5px;

}

.main-block_cards {
    display: flex;
    gap: 30px;
}

.block-cards_item {
    display: block;
    width: 370px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    padding: 40.5px 55px 40.5px 40px;
}

.card-item__border {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
}

    
#svg {
    width: 39px;
    height: 36px;
    position: relative;
    top: 14px;
    left: 12px;
}

.path1,.path2,.path5 {
    fill: #D1E7FF;
    
}
.path3 {
    fill:#E8F3FF ;
    
}
.path4,.path6,.path7 {
    fill: #B9DCFF;
    
}
.path8 {
    fill: #007FFC;   
}

path {
    transition: all 0.2s;    
}


.card-item__border:hover svg .path8 {
  fill: #52C29D;
}
.card-item__border:hover svg .path1,
.card-item__border:hover svg .path2,
.card-item__border:hover svg .path5,
.card-item__border:hover svg .path4,
.card-item__border:hover svg .path6,
.card-item__border:hover svg .path7 {
    fill: #CAEFF2;
}

.card-item__text--green {
    font-weight: 600;
    line-height: 18.75px;
    font-size: var(--text-sz);
    color: var(--main-green);
    cursor: pointer;
}